/*styling starts here*/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
}

body {
	max-width: 900px;
	height: auto;
	background-color: #fafafa;
	margin: 0 auto;
}

#main-container {
	max-width: 90%;
	margin: 0 auto;
}

#main-head {
	overflow: hidden;
	margin: 6rem auto;
	display: flex;
	justify-content: space-between;
}

#main-head h1 {
	font-size: 2rem;
	font-family: 'PT Serif', Serif;
	letter-spacing: -0.08rem;
	line-height: 2rem;
}

#main-head #about-section {
	max-width: 280px;
	letter-spacing: -0.01em;
	padding-left: 30px;
	font-family: poppins;
	line-height: 1.3rem;
	text-align: left;
}

#about-section h4 {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 900;
	padding-bottom: 5px;
}

#about-section>p {
	font-weight: 400;

}

#main-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

div:nth-child(2), div:nth-child(5) {
	padding-top: 5rem;
}

#main-img > div {
	width: 200px;
	margin: 2rem;
}

#main-img > div > img {
	width: 100%;
	border-radius: 5px;
}

.name-para {
	font-family: poppins;
	font-weight: bold;
	font-size: small;
	text-align: left;
	padding-top: 1rem;
}

.rotated-para {
	font-family: PT Serif;
	font-size: small;
	transform: rotate(90deg);
	width: 100px;
	height: 16px;
	text-align: right;
	margin-left: 165px;
	margin-bottom: -40px;
}

#footer {
	margin: 4rem 0rem 2rem 0rem;
	text-align: center;
	font-family: Montserrat;
	font-size: 0.8rem;
	font-weight: 500;
	color: #a9a9a9;
	line-height: 1.1rem;
}

@media only screen and (max-width: 882px) {
	div:nth-child(4), div:nth-child(6) {
		padding-top: 5rem;
	}
	div:nth-child(5) {
		padding-top: 0;
	}

}

@media only screen and (max-width: 600px) {
	#main-head {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-left: 5rem;
	}
	#main-head #about-section {
		padding-left: 0;
		padding-top: 2.5rem;
		line-height: 1.5rem;
		width: auto;
	}
	#main-img > div {
		width: 28%;
	}
	.rotated-para {
		margin-left: 73%;

		/* need work here */
	}

}